<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="/CSS/angular-toastr.css" rel="stylesheet" />
    <title>Hello</title>
    <style>
        .backgroundColor {
            height: 1012px;
            background-color: #F6D155; /* Standard syntax (must be last) */
        }
    </style>
</head>
<body ng-app="towApp" class="backgroundColor">
   
    <div ui-view="nav">

    </div>
    <div class="container main-container" ui-view="splash">

    </div>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>

    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui-router-1.0.3.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-toastr.tpls.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <script src="/app/app.public.js"></script>
        @RenderBody()
</body>
</html>
